/* Данный стиль позволяет выделить строку таблицы 
 * При наведении на неё указателя мыши
 */
 
 /* Класс для изменения указателя мыши для строки таблицы */
.bc-pointer {
  cursor: pointer;
}
/* Изменение стиля при наведении на строку: для правильной работы 
 * тело таблицы нужно включить в тег tbody
 */
tbody tr:hover {
  /* Цвет фона за текстом*/
  background-color: lightslategray;
  /* Цвет текста */
  color: aliceblue;
}

/* Поскольку к таблице применяем стиль Битрикса,
 * то используем только класс tbody tr:hover, см. ниже
 */

/* Задаем ширину таблицы и убираем двойные линии между ячейками */
/*
table {
  width: 100%;
  border-collapse: collapse;
}
*/

/* Поля вокруг содержимого таблицы и параметры рамки */
/*
td, th {
  padding: 3px;
  border: 1px solid #000;
}
*/

/* Цвета фона и текста */
/*
th {
  background: #afd792;
  color: #333;
}
*/




/**************************************************************************/
/*
Вариант сделать строку таблицы кликабельным через div.
Но для него нужно поработать со стилями, чтобы таблица выглядела нормально.

HTML
Решётка # в ссылке указывает id элемента, на который прокрутить окно
<div class="div_table">
  <a href="#openModal" class="div_href">
    <div class="div_field">00001</div>
    <div class="div_field">Иванов И.И.</div>
  </a>
  <a href="#openModal" class="div_href">
    <div class="div_field">00002</div>
    <div class="div_field">Петров П.П.</div>
  </a>
</div>


.div_table {
  * как элемент должен быть показан в документе *
  display: table;
}

.div_href {
  display: table-row;
  * Отменяет все эффекты, в том числе и подчеркивание у ссылок *
  text-decoration: none;
   * transition - эффект перехода между двумя состояниями элемента 
   * all - применяет эффект перехода ко всем свойствам элемента.
   * ease - анимация начинается медленно, разгоняется быстро и замедляется в конце
   * 0.1s - задает скорость выделения строки браузером
   *
  transition: all 0.1s ease;
}

 * "a." означает применение стиля к ссылке
 * Псевдокласс :active - активные ссылки
 * Псевдокласс :visited  - посещённые (были открыты ранее) ссылки
 * Ниже задается белый цвет для таких ссылок.
 *
a.div_href:active,
a.div_href:visited {
  text-decoration: none;
  color: #000000;
}
* Ссылки при наведении *
a.div_href:hover {
  * Цвет фона за текстом*
  background-color: lightslategray;
  * Цвет текста*
  color: aliceblue;
}

.div_field {
  display: table-cell;
}
*/